/* Turquoise Text */
.turquoise { color: #1abc9c; }
.turquoise-50 { color: #e8f8f5; }
.turquoise-100 { color: #d1f2eb; }
.turquoise-200 { color: #a3e4d7; }
.turquoise-300 { color: #76d7c4; }
.turquoise-400 { color: #48c9b0; }
.turquoise-500 { color: #1abc9c; }
.turquoise-600 { color: #17a589; }
.turquoise-700 { color: #148f77; }
.turquoise-800 { color: #117864; }
.turquoise-900 { color: #0e6251; }

/* Turquoise Background*/
.b-turquoise { background-color: #1abc9c; }
.b-turquoise-50 {  background-color: #e8f8f5; }
.b-turquoise-100 { background-color: #d1f2eb; }
.b-turquoise-200 { background-color: #a3e4d7; }
.b-turquoise-300 { background-color: #76d7c4; }
.b-turquoise-400 { background-color: #48c9b0; }
.b-turquoise-500 { background-color: #1abc9c; }
.b-turquoise-600 { background-color: #17a589; }
.b-turquoise-700 { background-color: #148f77; }
.b-turquoise-800 { background-color: #117864; }
.b-turquoise-900 { background-color: #0e6251; }

/* Green Sea */
.green-sea { color: #16a085; }
.green-sea-50 { color: #e8f6f3; }
.green-sea-100 { color: #d0ece7; }
.green-sea-200 { color: #a2d9ce; }
.green-sea-300 { color: #73c6b6; }
.green-sea-400 { color: #45b39d; }
.green-sea-500 { color: #16a085; }
.green-sea-600 { color: #138d75; }
.green-sea-700 { color: #117a65; }
.green-sea-800 { color: #0e6655; }
.green-sea-900 { color: #0b5345; }

/* Green Sea Background*/
.b-green-sea { background-color: #16a085; }
.b-green-sea-50 { background-color: #e8f6f3; }
.b-green-sea-100 { background-color: #d0ece7; }
.b-green-sea-200 { background-color: #a2d9ce; }
.b-green-sea-300 { background-color: #73c6b6; }
.b-green-sea-400 { background-color: #45b39d; }
.b-green-sea-500 { background-color: #16a085; }
.b-green-sea-600 { background-color: #138d75; }
.b-green-sea-700 { background-color: #117a65; }
.b-green-sea-800 { background-color: #0e6655; }
.b-green-sea-900 { background-color: #0b5345; }

/* Emerald Text*/
.emerald { color: #2ecc71; }
.emerald-50 { color: #eafaf1; }
.emerald-100 { color: #d5f5e3; }
.emerald-200 { color: #abebc6; }
.emerald-300 { color: #82e0aa; }
.emerald-400 { color: #58d68d; }
.emerald-500 { color: #2ecc71; }
.emerald-600 { color: #28b463; }
.emerald-700 { color: #239b56; }
.emerald-800 { color: #1d8348; }
.emerald-900 { color: #186a3b; }

/* Emerald Background*/
.b-emerald { background-color: #2ecc71; }
.b-emerald-50 { background-color: #eafaf1; }
.b-emerald-100 { background-color: #d5f5e3; }
.b-emerald-200 { background-color: #abebc6; }
.b-emerald-300 { background-color: #82e0aa; }
.b-emerald-400 { background-color: #58d68d; }
.b-emerald-500 { background-color: #2ecc71; }
.b-emerald-600 { background-color: #28b463; }
.b-emerald-700 { background-color: #239b56; }
.b-emerald-800 { background-color: #1d8348; }
.b-emerald-900 { background-color: #186a3b; }

/* Nephritis Text*/
.nephritis { color: #27ae60; }
.nephritis-50 { color: #e9f7ef; }
.nephritis-100 { color: #d4efdf; }
.nephritis-200 { color: #a9dfbf; }
.nephritis-300 { color: #7dcea0; }
.nephritis-400 { color: #52be80; }
.nephritis-500 { color: #27ae60; }
.nephritis-600 { color: #229954; }
.nephritis-700 { color: #1e8449; }
.nephritis-800 { color: #196f3d; }
.nephritis-900 { color: #145a32; }

/* Nephritis Background*/
.b-nephritis { background-color: #27ae60; }
.b-nephritis-50 { background-color: #e9f7ef; }
.b-nephritis-100 { background-color: #d4efdf; }
.b-nephritis-200 { background-color: #a9dfbf; }
.b-nephritis-300 { background-color: #7dcea0; }
.b-nephritis-400 { background-color: #52be80; }
.b-nephritis-500 { background-color: #27ae60; }
.b-nephritis-600 { background-color: #229954; }
.b-nephritis-700 { background-color: #1e8449; }
.b-nephritis-800 { background-color: #196f3d; }
.b-nephritis-900 { background-color: #145a32; }

/* Peter River Text*/
.peter-river { color: #3498db; }
.peter-river-50 { color: #ebf5fb; }
.peter-river-100 { color: #d6eaf8; }
.peter-river-200 { color: #aed6f1; }
.peter-river-300 { color: #85c1e9; }
.peter-river-400 { color: #5dade2; }
.peter-river-500 { color: #3498db; }
.peter-river-600 { color: #2e86c1; }
.peter-river-700 { color: #2874a6; }
.peter-river-800 { color: #21618c; }
.peter-river-900 { color: #1b4f72; }

/* Peter River Background*/
.b-peter-river { background-color: #3498db; }
.b-peter-river-50 { background-color: #ebf5fb; }
.b-peter-river-100 { background-color: #d6eaf8; }
.b-peter-river-200 { background-color: #aed6f1; }
.b-peter-river-300 { background-color: #85c1e9; }
.b-peter-river-400 { background-color: #5dade2; }
.b-peter-river-500 { background-color: #3498db; }
.b-peter-river-600 { background-color: #2e86c1; }
.b-peter-river-700 { background-color: #2874a6; }
.b-peter-river-800 { background-color: #21618c; }
.b-peter-river-900 { background-color: #1b4f72; }

/* Belize Hole Text*/
.belize-hole { color: #2980b9; }
.belize-hole-50 { color: #eaf2f8; }
.belize-hole-100 { color: #d4e6f1; }
.belize-hole-200 { color: #a9cce3; }
.belize-hole-300 { color: #7fb3d5; }
.belize-hole-400 { color: #5499c7; }
.belize-hole-500 { color: #2980b9; }
.belize-hole-600 { color: #2471a3; }
.belize-hole-700 { color: #1f618d; }
.belize-hole-800 { color: #1a5276; }
.belize-hole-900 { color: #154360; }

/* Belize Hole Background*/
.b-belize-hole { background-color: #2980b9; }
.b-belize-hole-50 { background-color: #eaf2f8; }
.b-belize-hole-100 { background-color: #d4e6f1; }
.b-belize-hole-200 { background-color: #a9cce3; }
.b-belize-hole-300 { background-color: #7fb3d5; }
.b-belize-hole-400 { background-color: #5499c7; }
.b-belize-hole-500 { background-color: #2980b9; }
.b-belize-hole-600 { background-color: #2471a3; }
.b-belize-hole-700 { background-color: #1f618d; }
.b-belize-hole-800 { background-color: #1a5276; }
.b-belize-hole-900 { background-color: #154360; }

/* Amethyst Text*/
.amethyst { color: #9b59b6; }
.amethyst-50 { color: #f5eef8; }
.amethyst-100 { color: #ebdef0; }
.amethyst-200 { color: #d7bde2; }
.amethyst-300 { color: #c39bd3; }
.amethyst-400 { color: #af7ac5; }
.amethyst-500 { color: #9b59b6; }
.amethyst-600 { color: #884ea0; }
.amethyst-700 { color: #76448a; }
.amethyst-800 { color: #633974; }
.amethyst-900 { color: #512e5f; }

/* Amethyst Background*/
.b-amethyst { background-color: #9b59b6; }
.b-amethyst-50 { background-color: #f5eef8; }
.b-amethyst-100 { background-color: #ebdef0; }
.b-amethyst-200 { background-color: #d7bde2; }
.b-amethyst-300 { background-color: #c39bd3; }
.b-amethyst-400 { background-color: #af7ac5; }
.b-amethyst-500 { background-color: #9b59b6; }
.b-amethyst-600 { background-color: #884ea0; }
.b-amethyst-700 { background-color: #76448a; }
.b-amethyst-800 { background-color: #633974; }
.b-amethyst-900 { background-color: #512e5f; }

/* Wisteria Text*/
.wisteria { color: #8e44ad; }
.wisteria-50 { color: #f4ecf7; }
.wisteria-100 { color: #e8daef; }
.wisteria-200 { color: #d2b4de; }
.wisteria-300 { color: #bb8fce; }
.wisteria-400 { color: #a569bd; }
.wisteria-500 { color: #8e44ad; }
.wisteria-600 { color: #7d3c98; }
.wisteria-700 { color: #6c3483; }
.wisteria-800 { color: #5b2c6f; }
.wisteria-900 { color: #4a235a; }

/* Wisteria Background*/
.b-wisteria { background-color: #8e44ad; }
.b-wisteria-50 { background-color: #f4ecf7; }
.b-wisteria-100 { background-color: #e8daef; }
.b-wisteria-200 { background-color: #d2b4de; }
.b-wisteria-300 { background-color: #bb8fce; }
.b-wisteria-400 { background-color: #a569bd; }
.b-wisteria-500 { background-color: #8e44ad; }
.b-wisteria-600 { background-color: #7d3c98; }
.b-wisteria-700 { background-color: #6c3483; }
.b-wisteria-800 { background-color: #5b2c6f; }
.b-wisteria-900 { background-color: #4a235a; }

/* Wet Asphalt */
.wet-asphalt { color: #34495e; }
.wet-asphalt-50 { color: #ebedef; }
.wet-asphalt-100 { color: #d6dbdf; }
.wet-asphalt-200 { color: #aeb6bf; }
.wet-asphalt-300 { color: #85929e; }
.wet-asphalt-400 { color: #5d6d7e; }
.wet-asphalt-500 { color: #34495e; }
.wet-asphalt-600 { color: #2e4053; }
.wet-asphalt-700 { color: #283747; }
.wet-asphalt-800 { color: #212f3c; }
.wet-asphalt-900 { color: #1b2631; }

/* Wet Asphalt Background*/
.b-wet-asphalt { background-color: #34495e; }
.b-wet-asphalt-50 { background-color: #ebedef; }
.b-wet-asphalt-100 { background-color: #d6dbdf; }
.b-wet-asphalt-200 { background-color: #aeb6bf; }
.b-wet-asphalt-300 { background-color: #85929e; }
.b-wet-asphalt-400 { background-color: #5d6d7e; }
.b-wet-asphalt-500 { background-color: #34495e; }
.b-wet-asphalt-600 { background-color: #2e4053; }
.b-wet-asphalt-700 { background-color: #283747; }
.b-wet-asphalt-800 { background-color: #212f3c; }
.b-wet-asphalt-900 { background-color: #1b2631; }

/*TEEEXXXXTSS*/

/* Midnight Blue */
.midnight-blue { color: #2c3e50; }
.midnight-blue-50 { color: #eaecee; }
.midnight-blue-100 { color: #d5d8dc; }
.midnight-blue-200 { color: #abb2b9; }
.midnight-blue-300 { color: #808b96; }
.midnight-blue-400 { color: #566573; }
.midnight-blue-500 { color: #2c3e50; }
.midnight-blue-600 { color: #273746; }
.midnight-blue-700 { color: #212f3d; }
.midnight-blue-800 { color: #1c2833; }
.midnight-blue-900 { color: #17202a; }

/* Sunflower */
.sunflower { color: #f1c40f; }
.sunflower-50 { color: #fef9e7; }
.sunflower-100 { color: #fcf3cf; }
.sunflower-200 { color: #f9e79f; }
.sunflower-300 { color: #f7dc6f; }
.sunflower-400 { color: #f4d03f; }
.sunflower-500 { color: #f1c40f; }
.sunflower-600 { color: #d4ac0d; }
.sunflower-700 { color: #b7950b; }
.sunflower-800 { color: #9a7d0a; }
.sunflower-900 { color: #7d6608; }

/* Orange */
.orange { color: #f39c12; }
.orange-50 { color: #fef5e7; }
.orange-100 { color: #fdebd0; }
.orange-200 { color: #fad7a0; }
.orange-300 { color: #f8c471; }
.orange-400 { color: #f5b041; }
.orange-500 { color: #f39c12; }
.orange-600 { color: #d68910; }
.orange-700 { color: #b9770e; }
.orange-800 { color: #9c640c; }
.orange-900 { color: #7e5109; }

/* Carrot */
.carrot { color: #e67e22; }
.carrot-50 { color: #fdf2e9; }
.carrot-100 { color: #fae5d3; }
.carrot-200 { color: #f5cba7; }
.carrot-300 { color: #f0b27a; }
.carrot-400 { color: #eb984e; }
.carrot-500 { color: #e67e22; }
.carrot-600 { color: #ca6f1e; }
.carrot-700 { color: #af601a; }
.carrot-800 { color: #935116; }
.carrot-900 { color: #784212; }

/* Pumpkin */
.pumpkin { color: #d35400; }
.pumpkin-50 { color: #fbeee6; }
.pumpkin-100 { color: #f6ddcc; }
.pumpkin-200 { color: #edbb99; }
.pumpkin-300 { color: #e59866; }
.pumpkin-400 { color: #dc7633; }
.pumpkin-500 { color: #d35400; }
.pumpkin-600 { color: #ba4a00; }
.pumpkin-700 { color: #a04000; }
.pumpkin-800 { color: #873600; }
.pumpkin-900 { color: #6e2c00; }

/* Alizarin */
.alizarin { color: #e74c3c; }
.alizarin-50 { color: #fdedec; }
.alizarin-100 { color: #fadbd8; }
.alizarin-200 { color: #f5b7b1; }
.alizarin-300 { color: #f1948a; }
.alizarin-400 { color: #ec7063; }
.alizarin-500 { color: #e74c3c; }
.alizarin-600 { color: #cb4335; }
.alizarin-700 { color: #b03a2e; }
.alizarin-800 { color: #943126; }
.alizarin-900 { color: #78281f; }

/* Pomegranate */
.pomegranate { color: #c0392b; }
.pomegranate-50 { color: #f9ebea; }
.pomegranate-100 { color: #f2d7d5; }
.pomegranate-200 { color: #e6b0aa; }
.pomegranate-300 { color: #d98880; }
.pomegranate-400 { color: #cd6155; }
.pomegranate-500 { color: #c0392b; }
.pomegranate-600 { color: #a93226; }
.pomegranate-700 { color: #922b21; }
.pomegranate-800 { color: #7b241c; }
.pomegranate-900 { color: #641e16; }

/* Clouds */
.clouds { color: #ecf0f1; }
.clouds-50 { color: #fdfefe; }
.clouds-100 { color: #fbfcfc; }
.clouds-200 { color: #f7f9f9; }
.clouds-300 { color: #f4f6f7; }
.clouds-400 { color: #f0f3f4; }
.clouds-500 { color: #ecf0f1; }
.clouds-600 { color: #d0d3d4; }
.clouds-700 { color: #b3b6b7; }
.clouds-800 { color: #979a9a; }
.clouds-900 { color: #7b7d7d; }

/* Silver */
.silver { color: #bdc3c7; }
.silver-50 { color: #f8f9f9; }
.silver-100 { color: #f2f3f4; }
.silver-200 { color: #e5e7e9; }
.silver-300 { color: #d7dbdd; }
.silver-400 { color: #cacfd2; }
.silver-500 { color: #bdc3c7; }
.silver-600 { color: #a6acaf; }
.silver-700 { color: #909497; }
.silver-800 { color: #797d7f; }
.silver-900 { color: #626567; }

/* Concrete */
.concrete { color: #95a5a6; }
.concrete-50 { color: #f4f6f6; }
.concrete-100 { color: #eaeded; }
.concrete-200 { color: #d5dbdb; }
.concrete-300 { color: #bfc9ca; }
.concrete-400 { color: #aab7b8; }
.concrete-500 { color: #95a5a6; }
.concrete-600 { color: #839192; }
.concrete-700 { color: #717d7e; }
.concrete-800 { color: #5f6a6a; }
.concrete-900 { color: #4d5656; }

/* Asbestos */
.asbestos { color: #7f8c8d; }
.asbestos-50 { color: #f2f4f4; }
.asbestos-100 { color: #e5e8e8; }
.asbestos-200 { color: #ccd1d1; }
.asbestos-300 { color: #b2babb; }
.asbestos-400 { color: #99a3a4; }
.asbestos-500 { color: #7f8c8d; }
.asbestos-600 { color: #707b7c; }
.asbestos-700 { color: #616a6b; }
.asbestos-800 { color: #515a5a; }
.asbestos-900 { color: #424949; }

/*BACKGROUNDDDZZZ*/

/* Midnight Blue */
.b-midnight-blue { background-color: #2c3e50; }
.b-midnight-blue-50 { background-color: #eaecee; }
.b-midnight-blue-100 { background-color: #d5d8dc; }
.b-midnight-blue-200 { background-color: #abb2b9; }
.b-midnight-blue-300 { background-color: #808b96; }
.b-midnight-blue-400 { background-color: #566573; }
.b-midnight-blue-500 { background-color: #2c3e50; }
.b-midnight-blue-600 { background-color: #273746; }
.b-midnight-blue-700 { background-color: #212f3d; }
.b-midnight-blue-800 { background-color: #1c2833; }
.b-midnight-blue-900 { background-color: #17202a; }

/* Sunflower */
.b-sunflower { background-color: #f1c40f; }
.b-sunflower-50 { background-color: #fef9e7; }
.b-sunflower-100 { background-color: #fcf3cf; }
.b-sunflower-200 { background-color: #f9e79f; }
.b-sunflower-300 { background-color: #f7dc6f; }
.b-sunflower-400 { background-color: #f4d03f; }
.b-sunflower-500 { background-color: #f1c40f; }
.b-sunflower-600 { background-color: #d4ac0d; }
.b-sunflower-700 { background-color: #b7950b; }
.b-sunflower-800 { background-color: #9a7d0a; }
.b-sunflower-900 { background-color: #7d6608; }

/* Orange */
.b-orange { background-color: #f39c12; }
.b-orange-50 { background-color: #fef5e7; }
.b-orange-100 { background-color: #fdebd0; }
.b-orange-200 { background-color: #fad7a0; }
.b-orange-300 { background-color: #f8c471; }
.b-orange-400 { background-color: #f5b041; }
.b-orange-500 { background-color: #f39c12; }
.b-orange-600 { background-color: #d68910; }
.b-orange-700 { background-color: #b9770e; }
.b-orange-800 { background-color: #9c640c; }
.b-orange-900 { background-color: #7e5109; }

/* Carrot */
.b-carrot { background-color: #e67e22; }
.b-carrot-50 { background-color: #fdf2e9; }
.b-carrot-100 { background-color: #fae5d3; }
.b-carrot-200 { background-color: #f5cba7; }
.b-carrot-300 { background-color: #f0b27a; }
.b-carrot-400 { background-color: #eb984e; }
.b-carrot-500 { background-color: #e67e22; }
.b-carrot-600 { background-color: #ca6f1e; }
.b-carrot-700 { background-color: #af601a; }
.b-carrot-800 { background-color: #935116; }
.b-carrot-900 { background-color: #784212; }

/* Pumpkin */
.b-pumpkin { background-color: #d35400; }
.b-pumpkin-50 { background-color: #fbeee6; }
.b-pumpkin-100 { background-color: #f6ddcc; }
.b-pumpkin-200 { background-color: #edbb99; }
.b-pumpkin-300 { background-color: #e59866; }
.b-pumpkin-400 { background-color: #dc7633; }
.b-pumpkin-500 { background-color: #d35400; }
.b-pumpkin-600 { background-color: #ba4a00; }
.b-pumpkin-700 { background-color: #a04000; }
.b-pumpkin-800 { background-color: #873600; }
.b-pumpkin-900 { background-color: #6e2c00; }

/* Alizarin */
.b-alizarin { background-color: #e74c3c; }
.b-alizarin-50 { background-color: #fdedec; }
.b-alizarin-100 { background-color: #fadbd8; }
.b-alizarin-200 { background-color: #f5b7b1; }
.b-alizarin-300 { background-color: #f1948a; }
.b-alizarin-400 { background-color: #ec7063; }
.b-alizarin-500 { background-color: #e74c3c; }
.b-alizarin-600 { background-color: #cb4335; }
.b-alizarin-700 { background-color: #b03a2e; }
.b-alizarin-800 { background-color: #943126; }
.b-alizarin-900 { background-color: #78281f; }

/* Pomegranate */
.b-pomegranate { background-color: #c0392b; }
.b-pomegranate-50 { background-color: #f9ebea; }
.b-pomegranate-100 { background-color: #f2d7d5; }
.b-pomegranate-200 { background-color: #e6b0aa; }
.b-pomegranate-300 { background-color: #d98880; }
.b-pomegranate-400 { background-color: #cd6155; }
.b-pomegranate-500 { background-color: #c0392b; }
.b-pomegranate-600 { background-color: #a93226; }
.b-pomegranate-700 { background-color: #922b21; }
.b-pomegranate-800 { background-color: #7b241c; }
.b-pomegranate-900 { background-color: #641e16; }

/* Clouds */
.b-clouds { background-color: #ecf0f1; }
.b-clouds-50 { background-color: #fdfefe; }
.b-clouds-100 { background-color: #fbfcfc; }
.b-clouds-200 { background-color: #f7f9f9; }
.b-clouds-300 { background-color: #f4f6f7; }
.b-clouds-400 { background-color: #f0f3f4; }
.b-clouds-500 { background-color: #ecf0f1; }
.b-clouds-600 { background-color: #d0d3d4; }
.b-clouds-700 { background-color: #b3b6b7; }
.b-clouds-800 { background-color: #979a9a; }
.b-clouds-900 { background-color: #7b7d7d; }

/* Silver */
.b-silver { background-color: #bdc3c7; }
.b-silver-50 { background-color: #f8f9f9; }
.b-silver-100 { background-color: #f2f3f4; }
.b-silver-200 { background-color: #e5e7e9; }
.b-silver-300 { background-color: #d7dbdd; }
.b-silver-400 { background-color: #cacfd2; }
.b-silver-500 { background-color: #bdc3c7; }
.b-silver-600 { background-color: #a6acaf; }
.b-silver-700 { background-color: #909497; }
.b-silver-800 { background-color: #797d7f; }
.b-silver-900 { background-color: #626567; }

/* Concrete */
.b-concrete { background-color: #95a5a6; }background-
.b-concrete-50 { background-color: #f4f6f6; }
.b-concrete-100 { background-color: #eaeded; }
.b-concrete-200 { background-color: #d5dbdb; }
.b-concrete-300 { background-color: #bfc9ca; }
.b-concrete-400 { background-color: #aab7b8; }
.b-concrete-500 { background-color: #95a5a6; }
.b-concrete-600 { background-color: #839192; }
.b-concrete-700 { background-color: #717d7e; }
.b-concrete-800 { background-color: #5f6a6a; }
.b-concrete-900 { background-color: #4d5656; }

/* Asbestos */
.b-asbestos { background-color: #7f8c8d; }
.b-asbestos-50 { background-color: #f2f4f4; }
.b-asbestos-100 { background-color: #e5e8e8; }
.b-asbestos-200 { background-color: #ccd1d1; }
.b-asbestos-300 { background-color: #b2babb; }
.b-asbestos-400 { background-color: #99a3a4; }
.b-asbestos-500 { background-color: #7f8c8d; }
.b-asbestos-600 { background-color: #707b7c; }
.b-asbestos-700 { background-color: #616a6b; }
.b-asbestos-800 { background-color: #515a5a; }
.b-asbestos-900 { background-color: #424949; }

/*  Want more? Check our our other color palettes at
 *  http://htmlcolorcodes.com/color-charts/
 */
