body{
  width: 100%;
  padding: 0;
  margin: 0;
}
header{
  min-height: 200px;
  width: 100;
  background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,255,255,1)); /* Standard syntax (must be last) */
}
/*Transparencia*/
.trans90{
  opacity: 0.95;
}
/*Posiciones y propiedades*/
.img-fluid{
  max-width: 100%;
  height: auto;
}
.alto{
  height: 200px;
  position: absolute;
}
.baseline{
  position: absolute;
  bottom: 5%;
}
/*Propiedades NavBar*/
.affix {
  top: 0;
  width: 100%;
}
.z{
  z-index: 9;
}
/*Contenido*/
p{
  box-shadow: 3px, 3px, 3px, black;
}
.icono{
  font-family: FontAwesome, Arial;
  font-style: normal;
}
/*Responsiveness*/
@media (max-width: 800px) {
  .alto{
    height: 35px;
  }
  .baseline{
    width: 100%;
    position: absolute;
    bottom: 10%;
    right: 5%;
  }
  .affix{
    top: 30px;
    width: 100%;
  }
}
